<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
 <head>
  <title>Login [% c.config.name %]</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="/static/img/favicon.ico" rel="shortcut icon" />
  <link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
 <div id="all">
  <div id="header">
   <div id="headerLinks">
    <p>
     <a href="/user">[% c.user.username %]</a> | 
     <a href="/help">Help</a> | 
     <a href="/logout" title="Close the session">Logout</a></p>
    </p>
   </div>
   <p>
    <a href="/"><img src="/static/img/logo_250.png" alt="OpenquickIT"
                     height="71" width="250" /></a>
   </p>
  </div>
  <div id="main">
   <h1>Nothing to see.</h1>
  </div>
 </div>
 <div id="footer">
  <p>(C) 2009 <a href="[% c.config.apphome %]">[% c.config.name %]</a>.</p>
 </div>
</body>
</html>
